<div class="section-content active" id="templates-section">
    <h2 class="section-title">Choose Template</h2>
    <div class="template-grid">
        <div class="template-option active" data-template="1">
            <div class="template-preview">
                <img src="/img/templates/template1.jpg" alt="Classic Template" class="template-thumbnail">
            </div>
            <div class="template-label">Classic</div>
        </div>
        <div class="template-option" data-template="2">
            <div class="template-preview">
                <img src="/img/templates/template2.jpg" alt="Modern Template" class="template-thumbnail">
            </div>
            <div class="template-label">Modern</div>
        </div>
        <div class="template-option" data-template="4">
            <div class="template-preview">
                <img src="/img/templates/template4.jpg" alt="Technical Template" class="template-thumbnail">
            </div>
            <div class="template-label">Technical</div>
        </div>
        <div class="template-option" data-template="8">
            <div class="template-preview">
                <img src="/img/templates/template8.jpg" alt="Executive Template" class="template-thumbnail">
            </div>
            <div class="template-label">Executive</div>
        </div>
    </div>
</div>