<div class="section-content active" id="templates-section">
    <h2 class="section-title">Choose Template</h2>
    <div class="template-grid">
        <div class="template-option active" data-template="1">
            <div class="template-preview">
                <img src="/img/templates/template1.jpg" alt="Classic Template" class="template-thumbnail">
            </div>
            <div class="template-label">Classic</div>
        </div>
        <div class="template-option" data-template="2">
            <div class="template-preview">
                <img src="/img/templates/template2.jpg" alt="Awesome CV Template" class="template-thumbnail">
            </div>
            <div class="template-label">Awesome CV</div>
        </div>
        <div class="template-option" data-template="3">
            <div class="template-preview">
                <img src="/img/templates/template3.jpg" alt="Banking Template" class="template-thumbnail">
            </div>
            <div class="template-label">Banking</div>
        </div>
        <div class="template-option" data-template="4">
            <div class="template-preview">
                <img src="/img/templates/template4.jpg" alt="Deedy Template" class="template-thumbnail">
            </div>
            <div class="template-label">Deedy</div>
        </div>
        <div class="template-option" data-template="5">
            <div class="template-preview">
                <img src="/img/templates/template5.jpg" alt="Res Template" class="template-thumbnail">
            </div>
            <div class="template-label">Res</div>
        </div>
        <div class="template-option" data-template="6">
            <div class="template-preview">
                <img src="/img/templates/template6.jpg" alt="Minimal Template" class="template-thumbnail">
            </div>
            <div class="template-label">Minimal</div>
        </div>
        <div class="template-option" data-template="7">
            <div class="template-preview">
                <img src="/img/templates/template7.jpg" alt="ModernCV Template" class="template-thumbnail">
            </div>
            <div class="template-label">ModernCV</div>
        </div>
        <div class="template-option" data-template="8">
            <div class="template-preview">
                <img src="/img/templates/template8.jpg" alt="McDowell Template" class="template-thumbnail">
            </div>
            <div class="template-label">McDowell</div>
        </div>
        <div class="template-option" data-template="9">
            <div class="template-preview">
                <img src="/img/templates/template9.jpg" alt="Professional Template" class="template-thumbnail">
            </div>
            <div class="template-label">Professional</div>
        </div>
    </div>
</div>