body {
    font-family: 'Helvetica', sans-serif;
    margin: 0;
    padding: 30px;
    color: #2d3436;
    line-height: 1.6;
}

.header {
    text-align: left;
    border-left: 8px solid #0984e3;
    padding-left: 20px;
    margin-bottom: 30px;
}

.name {
    font-size: 34pt;
    font-weight: 800;
    color: #0984e3;
    letter-spacing: -1px;
}

.contact {
    font-size: 10pt;
    color: #636e72;
}

.section {
    margin: 25px 0;
}

.section-title {
    font-size: 14pt;
    font-weight: 700;
    color: #0984e3;
    border-bottom: 1px solid #dfe6e9;
    padding-bottom: 5px;
    text-transform: uppercase;
}

.company {
    color: #0984e3;
    font-weight: 700;
}