body {
    font-family: 'Georgia', serif;
    margin: 0;
    padding: 50px 80px;
    color: #2d3436;
    line-height: 1.8;
}

.header {
    text-align: center;
    margin-bottom: 50px;
}

.name {
    font-size: 24pt;
    font-weight: 400;
    font-style: italic;
    letter-spacing: 2px;
}

.contact {
    font-size: 9pt;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #b2bec3;
}

.section {
    margin: 40px 0;
}

.section-title {
    font-size: 9pt;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #636e72;
    text-align: center;
    border: none;
    margin-bottom: 25px;
}

.job,
.edu-item {
    margin-bottom: 30px;
    border-top: 1px solid #f1f2f6;
    padding-top: 15px;
}